.product-details {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    flex: 1;
    max-width: 50%;
    margin-right: 20px;
  }
  
  .product-info {
    flex: 1;
    max-width: 50%;
  }
  
  .product-name {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 1.5em;
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  .product-category, .product-units, .product-out-of-stock {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .specifications {
    margin-top: 20px;
  }
  
  .product-description-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 1.2em;
  }
  
  .add-to-cart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-to-cart:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  